body {
    padding-top: 50px;
}

image{
    height:20em;
    width:17em;
    float:left;
    padding-right:2em;
}

body 
{
    padding-top: 50px;
    
}


.main-container #pic
    {
        width: 50%;
        height:100%;
        margin: 10px;
        padding-left:10px;
        float:left;
        position: relative;
        left: 0;
    }
    
    
.main-container .info-container
    {
        
        width:200px;
        height: 400px;
        float:right;
        position: relative;
        right: 0;
        margin: auto;
    }
    
.main-container{
    border: solid 2px #bfbfbf;
    background-color: grey;
    position: absolute;
    width: 600px;
    height: 400px;
}