{% extends 'base.html'%}
{% block css %}

    <link rel="stylesheet" href="/static/css/profile.css"> 

{% endblock %}

{% block main%}
<div id = "info">
    <div>
        <img id = "pic" src = "/static/uploads/{{ user['image'] }}"/> 
    </div>
    
    <div>
    <h1>{{ user.first_name }}'s Profile</h1>
    <h2>{{ user.first_name }} {{user.last_name}}</h2> 
    <h6>Date Created: {{user.created_on}}</h6>
    <p>Username: {{user.username}}</p><br> 
    <p>UserID: {{user.userid}}</p><br>
    <p>Gender: {{user.gender}}</p><br>
    <p>Age: {{user.age}}</p><br><br>
    <p>{{user['biography']}}</p>
    </div>
</div>
    {% endblock%}
  