{% extends "base.html"%}
{% block main%}

<div class="container">
    {% include 'flash_messages.html' %}
<h1>ALL USERS</h1>
<ul class="list-group">
    {% for user in users %}
    <li>
        <span><img src="{{ url_for('static',filename='uploads/'+ user.image) }}" alt="{{ user.image }}" class="img-thumbnail" height="150" width="75"/></span>
        <a href="/profile/{{ user.userid }}">{{ user.userid }} </a>
        <span class="badge badge-default badge-pill"> {{ user.first_name }} {{user.lastname}}</span>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock%}